.profile{
    text-align: center;
    margin-bottom: 20px;
    border: solid 1px black;
    margin-left: 0px;
}


.name{
color: blue;
font-weight: 800;
}

.tag{
  color: grey;  
}
.location{
    color: grey;  
  }
  .quantity{
    font-weight: 600;
  }


.avatar{
    width: 30%;
}
.stats {
    list-style: none;
    display: flex;
    justify-content: center;  
    margin-left: 0px;
}

.social{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: rgb(20, 155, 171);
    padding: 20px;
}